<!DOCTYPE html>
<html ng-app="angularIOApp">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en_US" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Techniques and practices for component testing of AngularDart apps.">
  <title>Component Testing: Simulating user action | AngularDart Community Documentation</title>

  <!-- Favicon / Touch Icons -->
  <link rel="icon" sizes="64x64" href="/assets/images/angulardart_64x64.png">
  <link href="/assets/touch-icon-iphone-a46c306c4fbfae0b28d63f512b01d7cb2ccf1e4ca9d7f3aab15ba1170beed4a0.png" rel="apple-touch-icon">
  <link href="/assets/touch-icon-ipad-d0181720760b3912858b6d40da1d5586b1e92c7c8656a485ea41005674401e6b.png" rel="apple-touch-icon" sizes="76x76">
  <link href="/assets/touch-icon-iphone-retina-3d9821a631425376ac6203dea3c23c1940ab7b5c506a25406662fab76cee2e0b.png" rel="apple-touch-icon" sizes="120x120">
  <link href="/assets/touch-icon-ipad-retina-b9715401952522f1daee2b4a4064a1bbfb5ffab78d0a47a7226dc87444d51c32.png" rel="apple-touch-icon" sizes="152x152">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dart_lang" />
  <meta name="twitter:title" content="Component Testing: Simulating user action" />
  <meta name="twitter:description" content="Techniques and practices for component testing of AngularDart apps." />

  <!-- Open Graph -->
  <meta property="og:title" content="Component Testing: Simulating user action" />
  <meta property="og:description" content="Techniques and practices for component testing of AngularDart apps." />
  <meta property="og:url" content="https://angulardart.xyz/guide/testing/component/simulating-user-action" />
  <meta property="og:image" content="https://angulardart.xyz/assets/angulardart.png?4" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/main-284fbcd6e14c151e36d1523978cdebdc84eb4dc84f5290ba988c43d55f489097.css">
  <link rel="stylesheet" type="text/css" href="/assets/angular-7fafbda6232f7b772cdbe2aa3f146b1b194b0314193b95ef6e7ad47458b31cd5.css">
  <script type="text/javascript" src="/assets/main-5ab0750d39bb41c29af8c0feb2b5a3dc7184e0882221da23e1a860521542ed1f.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-26406144-25', 'auto');
  ga('send', 'pageview');
</script>
  <!-- VENDORS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css"/>
  <script type="text/javascript" src="/assets/ng/vendor/lodash-cbc72c28a41a036ff429f1e6d66c49a5bba09921902c1a2696ab0911af042964.js"></script>
  <script type="text/javascript" src="/assets/ng/vendor/clipboard.min-c727619d8108938cf7736450134c1ab95b9c51ec5435a303c05b7438e6df0be6.js"></script>
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <!-- Angular.io Site JS -->
  <script type="text/javascript" src="/assets/ng/site-33dd65dfcf8ed7b926e2d04890ec16a21412ebb2643f3f9a27877318c471ecb3.js"></script>
  <script type="text/javascript" src="/assets/ng/controllers/app-controller-0251a788aab2c738c82e5fc1561f213816cd0566154b48aded6ac4636bc7d2c4.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/bold-93971cb666d1678e81b70a390df08ee6e60da684f8332499c3dda17df56d4da4.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/code-4682a46812eeb660def83f528b96854615ea5495ef66075df3e82430bec4956a.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/copy-f44ee1b4f82644a5187e2f5afe6c01ea68755b647a88d6937de5bea0209ace5c.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/code-tabs-4c391677b14c1771675b2ef6af446cd98f70345dfb88d4a264aea49f25922aa5.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/code-pane-c9501fbde100a3d6af970cfbb4ad8715010a6082d7b86d16b87cfc364accbabf.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/code-example-f1c4fceee9e3f0e8fd41c4693bf06653dbb363db82c04548e2639b0c49647335.js"></script>
  <script type="text/javascript" src="/assets/ng/directives/scroll-y-offset-element-d7e0583809bb6e159b93848120743c349abb6c4c90010a2893d803c88bce9aa7.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.4.0/diff2html.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.4.0/diff2html.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.4.0/diff2html-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
  <script>$(document).ready(function() {
    var diff2htmlUi = new Diff2HtmlUI();
    diff2htmlUi.highlightCode(".d2h-wrapper");
  });</script>
  </head>

  <body ng-controller="AppCtrl as appCtrl" class="angular">
    <header id="page-header">
  <nav id="mainnav" scroll-y-offset-element>
  <div id="menu-toggle"><i class="icon icon-menu"></i></div>
  <a href="/" class="brand" title="angulardart.xyz">
    <img src="/assets/shared/angular/icon/default-819f0e5ea0c59ac5d1e55ea4e5e191c1103667d28e7df57e7faf99676a4395f7.svg" alt="angulardart.xyz">
    AngularDart
  </a>
  <ul>
    <li><a href="/guide/setup">Get started</a></li>
    <li><a href="/version">Versions</a></li>
    <li><a href="/tools">Tools</a></li>
    <li class="searchfield">
      <form class="navbar-search" action="/search" id="cse-search-box">
        <input type="hidden" name="cx" value="011220921317074318178:ta2gkewbtuu">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="hidden" name="hl" value="en">
        <input type="search" name="q" id="q" autocomplete="off" placeholder="Search">
        <button type="submit"><i class="icon icon-search"></i></button>
      </form>
    </li>
  </ul>
</nav>

  
</header>
    <main id="page-content">
      <div id="sidenav" class="">
  <div class="content">
    <a href="/" class="brand" title="angulardart.xyz">
      <img src="/assets/shared/dart/logo+text/horizontal/default-50a9d396d6092dd131d4f9af1dbaa7a25723ff310c5ffb22add4e3b1b87340bd.svg" alt="angulardart.xyz">
    </a>

    <div class="sidenav__search">
      <p>
        <a href="/search">Search <i class="icon icon-search"></i></a>
      </p>
    </div>

    <h4 >Docs</h4>
  <ul>
        
        <li class="active">
          <a href="/guide" title="Guide">Guide</a>
          <i class="icon icon-arrow"></i>
          <ul><li class="active">
                <a href="/guide" title="Overview">Overview</a>
              </li><li >
                <a href="/guide/setup" title="Setup">Setup</a>
              </li><li >
                <a href="/guide/learning-angular" title="Learning Angular">Learning Angular</a>
              </li><li >
                <a href="/guide/architecture" title="Architecture">Architecture</a>
              </li><li >
                <a href="/guide/displaying-data" title="Displaying Data">Displaying Data</a>
              </li><li >
                <a href="/guide/user-input" title="User Input">User Input</a>
              </li><li >
                <a href="/guide/forms" title="Forms">Forms</a>
              </li><li >
                <a href="/guide/dependency-injection" title="Dependency Injection">Dependency Injection</a>
              </li><li >
                <a href="/guide/template-syntax" title="Template Syntax">Template Syntax</a>
              </li>
          </ul>
        
        <li >
          <a href="/tutorial" title="Tutorial">Tutorial</a>
          <i class="icon icon-arrow"></i>
          <ul><li >
                <a href="/tutorial" title="Introduction">Introduction</a>
              </li><li >
                <a href="/tutorial/toh-pt0" title="0. The Starter App">0. The Starter App</a>
              </li><li >
                <a href="/tutorial/toh-pt1" title="1. The Hero Editor">1. The Hero Editor</a>
              </li><li >
                <a href="/tutorial/toh-pt2" title="2. Master/Detail">2. Master/Detail</a>
              </li><li >
                <a href="/tutorial/toh-pt3" title="3. Multiple Components">3. Multiple Components</a>
              </li><li >
                <a href="/tutorial/toh-pt4" title="4. Services">4. Services</a>
              </li><li >
                <a href="/tutorial/toh-pt5" title="5. Routing">5. Routing</a>
              </li><li >
                <a href="/tutorial/toh-pt6" title="6. HTTP">6. HTTP</a>
              </li>
          </ul>
        
        <li class="active">
          <a href="/guide/attribute-directives" title="Advanced">Advanced</a>
          <i class="icon icon-arrow"></i>
          <ul><li >
                <a href="/guide/attribute-directives" title="Attribute Directives">Attribute Directives</a>
              </li><li >
                <a href="/guide/component-styles" title="Component Styles">Component Styles</a>
              </li><li >
                <a href="/guide/deployment" title="Deployment">Deployment</a>
              </li><li >
                <a href="/guide/hierarchical-dependency-injection" title="Hierarchical Injectors">Hierarchical Injectors</a>
              </li><li >
                <a href="/guide/server-communication" title="HTTP Client">HTTP Client</a>
              </li><li >
                <a href="/guide/lifecycle-hooks" title="Lifecycle Hooks">Lifecycle Hooks</a>
              </li><li >
                <a href="/guide/pipes" title="Pipes">Pipes</a>
              </li><li >
                <a href="/guide/router" title="Router">Router</a>
              </li><li >
                <a href="/guide/security" title="Security">Security</a>
              </li><li >
                <a href="/guide/structural-directives" title="Structural Directives">Structural Directives</a>
              </li><li class="active">
                <a href="/guide/testing" title="Testing">Testing</a>
              </li>
          </ul>
  </ul><h4 >Components</h4>
  <ul><li >
          <a href="https://gallery.angulardart.xyz" title="Components Gallery">Components Gallery</a>
        </li>
  </ul><h4 >Resources</h4>
  <ul><li >
          <a href="/cheatsheet" title="Cheat Sheet">Cheat Sheet</a>
        </li><li >
          <a href="/glossary" title="Glossary">Glossary</a>
        </li><li >
          <a href="/faq" title="FAQ">FAQ</a>
        </li><li >
          <a href="/tools" title="Tools">Tools</a>
        </li><li >
          <a href="/community" title="Community and Support">Community and Support</a>
        </li>
  </ul><h4 >Reference</h4>
  <ul><li >
          <a href="/reference/videos" title="Videos">Videos</a>
        </li><li >
          <a href="/api" title="API Documentation">API Documentation</a>
        </li>
  </ul>
  </div>
</div>

      
<div id="toc">
  <div class="content">
    <h4>On this page
      <a href="#page-content" title="Back to top" class="pull-right"><i class="icon icon-caret-up"></i></a>
    </h4>
    <ul id="toc" class="section-nav">
<li class="toc-entry toc-h2"><a href="#click">Click</a></li>
<li class="toc-entry toc-h2"><a href="#input-add-text">Input: add text</a></li>
<li class="toc-entry toc-h2"><a href="#input-clear">Input: clear</a></li>
</ul>
  </div>
</div>


      <article>
        <div class="content">
          <div class="alert alert-info"><p class="banner__text">
      <i class="material-icons"> new_releases </i>
      We're currently in the progress of migrating this site from Angular
			version 5.3.1 to 7.0.0.
      Package versions might be out-of-date or inconsistent!
      Visit <a href="https://github.com/angulardart-community/site-angulardart">the repo</a> for more info.
    </p>
  </div>

          
<nav id="subnav">
  <ul>
    <li class="previous">
      
        <a href="/guide/testing/component/page-objects">Component Testing: Page Objects</a>
      
    </li>
    <li class="next">
      
        <a href="/guide/testing/component/services">Component Testing: Services</a>
      
    </li>
  </ul>
</nav>


          <div class="ng-page-title">
              <a href="/"><img src="/assets/shared/angular/icon/default-819f0e5ea0c59ac5d1e55ea4e5e191c1103667d28e7df57e7faf99676a4395f7.svg" width="40px"></a>
              <ul class="page-github-links-menu" role="group">
  <li>
    <a href="https://github.com/angulardart-community/site-angulardart/tree/master/src/guide/testing/component/simulating-user-action.md"
      class="no-automatic-external"
      title="View page source"
      target="_blank" rel="noopener">
      <i class="fab fa-github fa-sm"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/angulardart-community/site-angulardart/issues/new?title='Component Testing: Simulating user action' page issue&body=From URL: https://angulardart.xyz/guide/testing/component/simulating-user-action"
      class="no-automatic-external"
      title="Report a bug on this page" target="_blank" rel="noopener">
      <i class="fas fa-bug fa-sm"></i>
    </a>
  </li>
</ul>
              <h1>
                  
                  Component Testing: Simulating user action (DRAFT)
                  <a href="/version">6.0</a>
                  </h1>
          </div>
          <hr>
          
          <div class="alert alert-info">
            If you notice any issues with this page, please
            <a href="https://github.com/angulardart-community/site-angulardart/issues/new?title=Feedback+on+page%3A+Component+Testing%3A+Simulating+user+action+%28DRAFT%29&body=URL%3A+https%3A%2F%2Fangulardart.xyz%2Fguide%2Ftesting%2Fcomponent%2Fsimulating-user-action%0A%0A">report them.</a>
          </div>
          
          <p>&lt;?code-excerpt path-base=”examples/ng/doc”?&gt;</p>

<style>
#toc-comp-testing .active {
  font-weight: bold;
  background-color: lightcyan;
}
</style>

<div id="toc-comp-testing">
  <ul>
    <li><a href="/guide/testing/component">Component testing</a></li>
    <li><a href="/guide/testing/component/running-tests">Running component tests</a></li>
    <li>
<span>Writing component tests</span>
      <ul>
        <li>
<a href="/guide/testing/component/basics">Basics</a>: pubspec config, test
API fundamentals</li>
        <li>
<a href="/guide/testing/component/page-objects">Page objects</a>: field annotation, initialization, and more</li>
        <li>
<a href="/guide/testing/component/simulating-user-action">Simulating user action</a>: click, type, clear</li>
        <li>
<a href="/guide/testing/component/services">Services</a>: local, external, mock, real</li>
        <li><a href="/guide/testing/component/input-and-output"><code class="language-plaintext highlighter-rouge">@Input()</code> and <code class="language-plaintext highlighter-rouge">@Output()</code></a></li>
        <li><a href="/guide/testing/component/routing-components">Routing components</a></li>
        <li>Appendices - <em>coming soon</em>
</li>
      </ul>
    </li>
  </ul>
</div>
<script>
  (function (){
    var title = document.title;
    if (title.startsWith('Testing')) return; // On main page, nothing to highlight

    // Set top level topic
    var i = title.indexOf(':') > 0 ? 2 : title.startsWith('Run') ? 1 : 0;
    var topUl = $('#toc-comp-testing > ul');
    var activeElt = $(topUl).find('> li').eq(i);
    if (i == 2) activeElt = $(activeElt).find('span');
    activeElt.addClass('active');
    if (i < 2) return;

    // Set "Writing tests" subtopic
    var matches = title.match(/^[^:]+: (\S+)/);
    if (!matches) return;
    var subtopic = matches[1];
    var subtopicLi = $(topUl).find(`> li > ul > li:contains(${subtopic})`);
    subtopicLi.addClass('active');
  })();
</script>

<hr>

<h2 id="click">
<a class="anchor" href="#click" aria-hidden="true"><span class="octicon octicon-link"></span></a>Click</h2>

<p>Use the <a href="https://pub.dev/documentation/pageloader/latest/webdriver/PageLoaderElement/click.html">PageLoaderElement.click()</a> method to simulate a user
click on a given PO element. Here is an example for a <em>back</em> button:</p>

<p>&lt;?code-excerpt “toh-5/test/hero_po.dart (back button)” title?&gt;</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  @ByTagName('button')
  PageLoaderElement get _button;
  // ···
  Future&lt;void&gt; back() =&gt; _button.click();
</code></pre></div></div>

<p>Similarly, you might define a PO method for selecting a hero from
a list as follows:</p>

<p>&lt;?code-excerpt “toh-2/test/app_po.dart (selectHero)” title?&gt;</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  @ByTagName('li')
  List&lt;PageLoaderElement&gt; get _heroes;
  // ···
  Future&lt;void&gt; selectHero(int index) =&gt; _heroes[index].click();
</code></pre></div></div>

<h2 id="input-add-text">
<a class="anchor" href="#input-add-text" aria-hidden="true"><span class="octicon octicon-link"></span></a>Input: add text</h2>

<p>The <a href="/tutorial/toh-pt1">Hero Editor</a> allows a user to edit a hero’s name by means of
an <code class="language-plaintext highlighter-rouge">&lt;input&gt;</code> element. Use the <a href="https://pub.dev/documentation/pageloader/latest/webdriver/PageLoaderElement/type.html">PageLoaderElement.type()</a> method to
simulate adding text to the input element:</p>

<p>&lt;?code-excerpt “toh-1/test/app_po.dart (AppPO input)” title?&gt;</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  @ByTagName('input')
  PageLoaderElement get _input;
  // ···
  Future&lt;void&gt; type(String s) =&gt; _input.type(s);
</code></pre></div></div>

<p>Here is an example of how the <code class="language-plaintext highlighter-rouge">type()</code> method might be used to update a hero’s name:</p>

<p>&lt;?code-excerpt “toh-1/test/app_test.dart (update name)” title?&gt;</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  const nameSuffix = 'X';

  test('update hero name', () async {
    await appPO.type(nameSuffix);
    expect(appPO.heroId, windstormData['id']);
    expect(appPO.heroName, windstormData['name'] + nameSuffix);
  });
</code></pre></div></div>

<h2 id="input-clear">
<a class="anchor" href="#input-clear" aria-hidden="true"><span class="octicon octicon-link"></span></a>Input: clear</h2>

<p>You can clear an input using the <a href="https://pub.dev/documentation/pageloader/latest/webdriver/PageLoaderElement/clear.html">PageLoaderElement.clear()</a> method:</p>

<p>&lt;?code-excerpt “toh-2/test/app_po.dart (clear)” title?&gt;</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  Future&lt;void&gt; clear() =&gt; _input.clear();
</code></pre></div></div>

<p>Here is an example of a PO method for adding a new hero. It makes use of both
<code class="language-plaintext highlighter-rouge">clear()</code> and <code class="language-plaintext highlighter-rouge">type()</code>:</p>

<p>&lt;?code-excerpt “toh-6/test/heroes_po.dart (addHero)” title?&gt;</p>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>  Future&lt;void&gt; addHero(String name) async {
    await _input.clear();
    await _input.type(name);
    await _add.click();
  }
</code></pre></div></div>


          
<nav id="subnav">
  <ul>
    <li class="previous">
      
        <a href="/guide/testing/component/page-objects">Component Testing: Page Objects</a>
      
    </li>
    <li class="next">
      
        <a href="/guide/testing/component/services">Component Testing: Services</a>
      
    </li>
  </ul>
</nav>


        </div>
      </article>
    </main>
    <footer id="page-footer">
	<div class="container">
		<div class="content">
			<div class="text-center" martdown="1">
				<style>
					.menu .material-icons {
						font-size: 14px;
					}
				</style><ul class="menu">
					<li><a href="/terms">Terms</a></li>
					<li><a href="http://www.google.com/intl/en/policies/privacy/" class="no-automatic-external">Privacy</a></li>
					<li>Site&nbsp;<a href="http://creativecommons.org/licenses/by/3.0/"
							class="no-automatic-external">CC&nbsp;BY&nbsp;3.0</a></li>
					<li>
						<a href="https://github.com/angulardart-community/site-angulardart" title="This site's source is on GitHub." class="no-automatic-external"><i
								class="fab fa-github fa-sm"></i></a>
						&nbsp;
						<a href="https://github.com/angulardart-community/site-angulardart/issues" title="File an issue about this site." class="no-automatic-external"><i
								class="fas fa-bug fa-sm"></i></a>
						&nbsp;
						<a  title="Site built on 2026/04/01 20:39 UTC" 
							class="no-automatic-external"><i class="material-icons">build</i></a>
					</li>
				</ul>

				<ul class="version">
					<li>
						<a href="/version">
							angular 6.0.1 (currently in migration)
						</a>
					</li>
				</ul>

				<ul>
					<li>
						<b class="version">Disclaimer:</b> This website is solely a fork of the AngularDart documentation maintained by the <a
							href="https://github.com/angulardart-community" target="_blank">AngularDart Community</a>. This website and AngularDart are not
						Google products in any way, official or unofficial. The AngularDart Community does <b class="version">NOT</b> maintain AngularDart.
					</li>
				</ul>

			</div>
		</div>
	</div>
</footer>

  </body>
</html>
