.dropdown-toggle::after,
.dropup .dropdown-toggle::after,
.dropend .dropdown-toggle::after,
.dropstart .dropdown-toggle::before,
.nav-item-submenu > .nav-link::after {
  font-family: var(--icon-font-family), "Phosphor" !important;
}

.dropdown-toggle::after {
  content: "\e9fe";
}

.dropup .dropdown-toggle::after {
  content: "\ea01";
}

.dropend .dropdown-toggle::after,
.nav-item-submenu > .nav-link::after {
  content: "\ea00";
}

.dropstart .dropdown-toggle::before,
[dir="rtl"] .nav-item-submenu > .nav-link::after {
  content: "\e9ff";
}